<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleURLName</key>
                <string>so.invisibility.app</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>invisibility</string>
                </array>
            </dict>
        </array>
        <key>NSAccessibilityUsageDescription</key>
        <string>Enable accessibility for keyboard shortcuts and screen recording.</string>
        <key>NSCalendarsFullAccessUsageDescription</key>
        <string>Enable reading calendar for meeting recording reminders and quick-join.</string>
        <key>SUEnableInstallerLauncherService</key>
        <true />
        <key>SUFeedURL</key>
        <string>https://invisibilityinc.github.io/Invisibility/appcast.xml</string>
        <key>SUPublicEDKey</key>
        <string>VIOnOTxkP22wB4X2fWs7AkXLD8W5eClUQ7pH0uqD9Cg=</string>
    </dict>
</plist>
